{% extends 'index.html' %} {% block content %}

<h1 class="display-2">Register</h1>
<li><a href="/login">Already have an account? Login now</a></li>
<p class="lead">or not, register here!</p>
<ul> </ul>

<form method="POST">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }} {{ field }} {% for error in field.errors %} {{ error }} {% endfor %}
  </p>
  {% endfor %}

  <button class="btn btn-md btn-info" type="submit">Register</button>
</form>

{% endblock %}
