{% extends 'index.html' %} {% block content %} {% if 'username' not in session %}
<ul>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
  <h1 class="display-3 text-center">Please login to view this page!</h1>
</ul>
{% endif %} {% if 'username' in session %}
<ul>
  <li><a href="/logout">Logout</a></li>
  <span>Welcome <b>{{user.first_name}} {{user.last_name}}</b></span>
  <hr />
  <p>Your email is: {{user.email}}</p>
  <p>Your username is: {{user.username}}</p>

  <form>
    <button class="btn btn-danger btn-sm" formaction="/users/{{user.username}}/delete" formmethod="POST">
      Delete User
    </button>
  </form>
</ul>
{% endif %} {% endblock %}
